{%extends 'base.html'%}
{%load bootstrap4 %}
{%block content %}

<div class="container">
    <div class="span3 well">
        <br>
        <br>
        <br>
        {%for i in profile %}
        
        <img style="border-radius: 4%;" src="{{i.profile_pic.url}}" name="aboutme" width="800" height="440" class="img-circle"></<img>
        <br>
        <br>
        
        <h3 style="color: white;" >Username    {{i.user.username}}</h3>
        <h3 style="color: white;" >Email     {{i.user.email}}</h3>
        <em style="color: white; " >{{i.bio}}</em>
        
        {%endfor%}
        <hr>
    </div>
    {%for a in projects%}
    <div class="row">
        <div class="card mt-4" style="width: 30rem; margin-right: auto;">
            <img class="card-img-top" src="{{project.project_pic.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{a.title}}</h5>
              <p class="card-text">{{a.description}}</p>
              <p class="card-text">Posted by:{{a.profile.user.username}}</p>
          </div>  
      </div>
    </div>
    {%endfor%}
</div>

{%endblock%}